div {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        direction: ltr;
}

:invalid {
        background-color: #ff4040;
}

:valid {
        background-color: rgb(110, 184, 110);
}