<div class="container">
    <h2>Password change page</h2>
    <br>
    <label for=crntpwd>current password:</label>
    <input required minlength="4" type="password" id=crntpwd [(ngModel)]="crntPwd">
    <br><br>
    <label for=nwpwd>New password:</label>
    <input required minlength="4" type="password" id=nwpwd [(ngModel)]="nwPwd">
    <br><br>
    <label for=nw2pwd>Verifying the new password</label>
    <input required minlength="4" type="password" id=nw2pwd [(ngModel)]="nw2Pwd">
    <br><br>
    <button type=button (click)="updIt()">Save password change</button>
    <br>
    <a *ngIf="jobDone" routerLink="/AccountLogin">The password change managed, click here to re-enter the system</a>
</div>