div {
        direction: ltr;
        text-align: center;
}

:invalid {
        background-color: #ff4040;
}

:valid {
        background-color: rgb(110, 184, 110);
}

.button2 {
        background-color: transparent;
        background-color: #000;
}

/* #uid,
#pwd {} */